<%if @name%>
<h1>
  My name is <%=@name%> 
</h1>
<%end%>

<form action="/named-cat" method="get">
<ul>
  <label for="name">Name:</label>
  <input type="text" name="name">
</ul>
<ul>
  <input type="submit" value="Submit">
</ul>
</form>



'<div>
  <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png">
</div>'
